@{
    ViewData["Title"] = "Trang chủ";
}

<h2 class="mt-3">Chào mừng đến với bài của Anh Tuấn</h2>

<p class="lead">Đây là bài Lab06 của sinh viên.</p>

<a class="btn btn-primary" asp-action="NatInfo" asp-controller="NatHome">Xem thông tin sinh viên</a>
