@{
    ViewData["Title"] = "Thông tin sinh viên";
}
<div class="alert alert-info">
<h2>Thông tin sinh viên</h2>
<ul>
    <li>Mã SV: @ViewBag.StudentId</li>
    <li>Họ tên: @ViewBag.StudentName</li>
    <li>Lớp: @ViewBag.Class</li> 
</ul>