@{
    ViewData["Title"] = "Thông Tin Sinh Viên";
}
<h1>@ViewData["Title"]</h1>

<div class="alert alert-danger" >
    <p>Ma SV:2310900113 </p>
    <p>Ho Ten:Nguyen Anh Tuan </p>
    <p>Email:nguyenanhtuan@gmail.com</p>
    <p>Dien Thoai:0397568858</p>
    <p>Lop:K23CNT1-Net</p>
</div>

